body{
    background: rgb(255, 255, 255);
}
div{
    background: rgb(255, 255, 255);
    color: white;

}
div{
    p{
        color: rgb(0, 110, 255);
        a3{
            color: black;
        }
    }
}
div ul li img {
    width: 250px;
    height: 250px;
    alt: 'photo image poster';
}
div{
    b{
        color: rgb(167, 189, 209);
    }
    a1{
        color: rgb(167, 189, 209);
    }
    a{
        color: black;
    }


}