body{
    background: rgb(255, 255, 255);

    
}
.post-info{
    color: rgb(16, 102, 172);
}
div{
    background: rgb(255, 255, 255);
    color: white;


}
.post-uhn{
    color: rgb(9, 80, 138);
}
div ul li img {
    width: 250px;
    height: 250px;
    alt: 'photo image poster';
}
div{
    b{
        color: rgb(167, 189, 209);
    }
    a1{
        color: rgb(167, 189, 209);
    }
    a{
        color: black;
    }

}